<main>
    <h1 id="certification">Certification</h1>
    <div class="main-info-certification">
        <div class="certification-content">
            <div class="row-certificate">
                <iframe src="./assets/certificates/01.pdf" frameborder="0"></iframe>
                <iframe src="./assets/certificates/02.pdf" frameborder="0"></iframe>
                <iframe src="./assets/certificates/03.pdf" frameborder="0"></iframe> 
            </div>

            <div class="row-certificate">
                <iframe src="./assets/certificates/04.pdf" frameborder="0"></iframe>
                <iframe src="./assets/certificates/05.pdf" frameborder="0"></iframe>
                <iframe src="./assets/certificates/06.pdf" frameborder="0"></iframe> 
            </div>

            <div class="row-certificate">
                <iframe src="./assets/certificates/07.pdf" frameborder="0"></iframe>
                <iframe src="./assets/certificates/08.pdf" frameborder="0"></iframe>
                <iframe src="./assets/certificates/09.pdf" frameborder="0"></iframe> 
            </div>
        </div>
    </div>
</main>