<main>
    <div class="main-content-presentation">
        <div class="main-details">
            <h1>Software Engineer</h1>

            <p id="first-details" align="justify">
                Hi I'm Rafael! I'm 19 years old and a Computer Science undergraduate at CESAR School. Currently I'm studying to become a Software Engineer and have all the Knowledge to outcome all chanllenges that are presented to me. Click in "Projects" to see some of my Implementations!</p>
            <div class="main-contacts">
                <div id="linkedin">
                    <a href="https://www.linkedin.com/in/rafaeljhxalves/" target="_blank"><img src="./assets/imgs/linkedin-logo.svg"></a>
                </div>
                <div id="github">
                    <a href="https://github.com/RJHXA" target="_blank"><img src="./assets/imgs/github-logo.svg"></a>
                </div>
            </div>
        </div>
        <div class="main-imagem">
            <img src="./assets/imgs/Foto rjhxa.jpg">
        </div>
    </div>
</main>