<main>
    <div class="main-content-presentation">
        <div class="main-details">
            <h1>Software Engineer</h1>

            <p id="first-details" align="justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore ea qui numquam iusto cumque aut exercitationem excepturi accusamus quia! Iure incidunt voluptatem, labore enim ex quasi delectus rerum tempore possimus.</p>
        
            <div class="main-contacts">
                <div id="linkedin">
                    <a href="https://www.linkedin.com/in/rafaeljhxalves/" target="_blank"><img src="./assets/imgs/linkedin-logo.svg"></a>
                </div>
                <div id="github">
                    <a href="https://github.com/RJHXA" target="_blank"><img src="./assets/imgs/github-logo.svg"></a>
                </div>
            </div>
        </div>
        <div class="main-imagem">
            <img src="./assets/imgs/Foto rjhxa.jpg">
        </div>
    </div>
</main>